.env
.venv
.idea
XRAY-VPN-BOT.iml
venv
uvicorn
Deprecated
db.sqlite3
db/*.sqlite3
config.yml
backend.yml
freekassa.py
marz.py
dig_data.json
data.json
support.db
test.py
./tests/run_sec.py
admin/node_modules
pg_data
__pycache__/
*.pyc
